html {
    color: #6c9e4d;
    font-size: 14px;
    background: #dde2ce;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

body {
    text-decoration: none;
}

a {
    color: #141010;
    text-decoration: none;
    cursor: pointer;
}

/* unvisited link */
a:link, a:visited {
    color: #141010;
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
}

#root {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrapper {
    padding-top: 70px;
    height: 100%;
    margin: 0 auto 50px auto;
    max-width: 900px;
}

#header, #footer {
    font-size: large;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 2px;
    background: white;
    box-shadow: 1px 1px 2px #888888;
}

#header {
    top: 0;
}

#footer {
    bottom:0;
    width:100%;
}

.logo {
    max-height:45px;
}

object, img, nav {
    display: inline-block;
    vertical-align: middle;
}


#login {
    color: #4fc009;
    text-decoration: none;
    display: inline-block;
}

.container{
    /*max-width: 90%;*/
    display: contents;
}

nav {
}
nav a, nav a:visited {
    color: #6c9e4d;
    font-weight: 600;
    text-decoration: none;
    padding: 5px;
    display: inline-block;
}

#header-left {
    display: inline;
    float: left;
}

#header-right {
    display: inline;
    float: right;
}

div.clickable {
    cursor: pointer;
}

#story-list {
    margin: 0;
    overflow-y:auto;
    padding: 0px;
    list-style-type: none;

    font-size: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.story {
    display: flex;
    padding: 5px;
    margin: 8px;
    min-height: 50px;
    border-radius: 6px;
    background: white;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
}

li.story:hover, li.story:hover a {
}

.box {
    padding: 15px;
    margin: 8px;
    min-height: 50px;
    border-radius: 6px;
    background: white;
    box-shadow: 0 5px 5px rgba(0,0,0,.08);
    color:#6c9e4d;
    font-weight:600;
}

div.votes {
    color: #141010;
    background: #e8e8e8;
    display: inline-table;
    text-align: left;
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px #888888;
}

div.details-top {
    margin-left: 0.5em;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    height: fit-content;
}
div.details-bottom {
    color: #706666;
    margin: 0 0 0 5px;
    font-size: 12px;
    padding: 5px;
}

div.points {
    display: table-cell;
    text-align: center;
}

a.story-domain {
    font-size: 12px;
    color: #47b9fc;
    font-style: italic;
}

a.story-domain:hover {
}

span.headerlinks a.headerlink, a.headerlink:link, a.headerlink:visited {
}

a.headerlink:hover {
}

span.headerlinks a.headerlink.cur_url {
}

span.tags {
    display: block;
}

a.tag:link {
}

.tag {
    height: 25px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 0.5em;
    border: 1px solid green;
    border-radius: 6px;
    text-align: center;
}

form#login-form, form#register-form {
    margin-top: 10px;
}

button {
    background: #6c9e4d;
    color: white;
    font-weight: 600;
    height: 40px;
    margin-top: 1em;
    border: none;
}

button:disabled {
    background-color: #aace94;
}

div.delete {
    margin-right: 0.5em;
}

li {
    display: flex;
}

input, input:focus {
    height: 40px;
    color: #666;
    width: 100%;
    padding: 0 0 0 5px;
    margin-bottom: 5px;
    border:1px solid #e5e5e5;
}

.quiz_numbers {
    display: inline;
}
